node_modules
dist

# SQLite
server/data/*.db
server/data/*.db-journal
server/data/*.db-wal
server/data/*.db-shm

# uploads
server/uploads/**/*
!server/uploads/.gitkeep
.vscode
# logs
*.log
.env
.env.development
.env.production
# OS
.DS_Store
Thumbs.db
convert_webp.py
server/data.sqlite
work.md
